html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Yusei Magic", sans-serif; /* フォントを指定 */
}

body {
    line-height: 1.5; /* 行の高さを1.5倍に設定 */
    word-wrap: break-word; /* 長い単語を適切に折り返す */
    box-sizing: border-box; /* ボックスモデルをborder-boxに設定 */
    max-width: 980px; /* 最大幅を980pxに設定 */
    margin: 2em auto; /* 上下に2em、横は自動中央配置 */
    padding: 0px 50px; /* 内側の余白を設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    /* background-color: #f0f0f0; /*背景色をレトロ風の灰色に変更 */
    background-image: url('icon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 1.3rem; /* フォントサイズを1.3remに設定 */
    margin: 0.8rem 0px; /* 上下のマージンを設定 */
}

@media (max-width: 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px; /* レスポンシブ時の内側の余白を設定 */
    }
}

h1 {
    font-size: 2rem; /* 見出しのフォントサイズを2remに設定 */
}

img {
    max-width: 100%; /* 画像の最大幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
    cursor: pointer; /* カーソルをポインタに設定 */
    /* pointer-events: none; ポインターイベントを無効化 */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* ボックスシャドウを設定 */
    border-radius: 60px; /* 角丸を設定 */
}

div.input-ui {
    width: 100%; /* 親コンテナの幅を100%に設定 */
    display: flex; /* Flexboxを使用して要素を配置 */
    flex-direction: column; /* 子要素を縦方向に並べる */
    align-items: center; /* 子要素を中央に配置 */
}

button {
    width: 100%; /* ボタンの幅を親コンテナの90%に設定 */
    max-width: 400px; /* ボタンの最大幅を400pxに設定 */
    margin: 5px 0; /* 上下のマージンを設定 */
    padding: 10px 20px; /* パディングを設定 */
    border: none; /* ボーダーを消す */
    background-color: #c86565; /* レトロ風の赤色に変更 */
    color: white; /* 文字色を白に設定 */
    font-size: 16px; /* フォントサイズを設定 */
    cursor: pointer; /* カーソルをポインタに設定 */
    transition: background-color 0.5s; /* 背景色の変化をアニメーション化 */
    border-radius: 5px; /* 角丸を設定 */
    font-family: "Yusei Magic", sans-serif; /* フォントを指定 */
}

button:hover {
    background-color: #c86565; /* ホバー時の背景色を濃い赤色に変更 */
}

#topimg {
    position: relative;
    width: 100%;
    height: 220px;
}

#sheet {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#date {
    width: 100%;
    max-width: 400px;
    height: 200px;
}

select {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* https://projects.lukehaas.me/css-loaders/ */

div.loader {
    display: none;
  }

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: linear-gradient(90deg, #b64b4b 50%, #eeeeee 0) right / 200% 100%;
    animation: l21 2s infinite linear;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .loader::before {
    content: "Loading...";
    color: #00000000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #b65b5b 0);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  @keyframes l21 {
    100% {
      background-position: left;
    }
  }
  
